<div>
  <mat-toolbar color="primary">
    <span class="no-outline" routerLink="photos-library">ellin</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <div class="padding">
    <button mat-button (click)="openDialog()" [disabled]="!loggedIn">Upload photo</button>
    <button mat-button  routerLink="/users-photos" [disabled]="!loggedIn">My Photos</button>
    <button mat-button routerLink="/photos-library" >Photos</button>
    </div>
    <span><app-login></app-login></span>
  </mat-toolbar>
  <router-outlet></router-outlet>


</div>
